
@{
    ViewData["Title"] = "Index";
    Layout = null;
  
        }




<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from d-themes.com/html/riode/demo23.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Aug 2021 15:26:20 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Riode - Ultimate eCommerce Template</title>

</head>

<body class="home">
    @RenderBody()

</body>


</html>

